<%- include('header'); -%>

<h2>About</h2>
<p>Welcome to the mini app to-do-list! In this webAPP, you can type in the url params such as "Work", "Chores" etc. to set up your customized task lists</p>

<%- include('footer'); -%>
